/* FONTS FROM GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} /* RESETS START AND UTILITY */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black-color: hsl(212, 21%, 14%);
  --Grey-color: hsl(228, 12%, 48%);
  --Cream-color: hsl(30, 38%, 92%);
  --White-color: hsl(0, 0%, 100%);
  --bg-color: #f3eae3;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* RESET AND UTILITY END */

/* product-card START */

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--White-color);
  border-radius: 12px;
  overflow: hidden;
  max-width: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5rem;
}

.img {
  background: url(images/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 500px;
}

.product-details {
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
}

.category {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--Grey-color);
  font-size: 0.75rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  font-family: Fraunces, sans-serif;
  margin-bottom: 1.4rem;
}

.description {
  color: var(--Grey-color);
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.current-price {
  color: var(--Green-500);
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Fraunces, sans-serif;
}
.original-price {
  text-decoration: line-through;
  color: var(--Grey-color);
  font-size: 0.8rem;
  font-weight: 400;
  font-family: Fraunces, sans-serif;
}
.add-to-cart {
  background-color: var(--Green-700);
  color: var(--White-color);
  display: flex;
  padding: 1.25rem 1.3rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

/* product-card END */

/* RESPONSIVENESS START */
@media screen and (max-width: 600px) {
  .product-card {
    grid-template-columns: 1fr;
    margin: 3rem 1rem;
  }
  .product-card {
    max-width: 370px;
  }
  .img {
    min-height: 300px;
  }
}
/* RESPONSIVENESS END */
